.right {
  /*float:right;*/
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container-left {
  display: flex;
  margin-bottom: 10px;
}

.your-chat-bubble {
  float:right;
  border: 1px solid #d1d1d1;
  background-color: #e9ebee;
  padding: 7px 12px;
  border-radius: 4px;
  max-width: 70%;
}
